<form novalidate name="formulario" autocomplete="off">
	<div class="panel panel-primary">
		<div class="panel-heading">Cadastro de Empresa</div>
		<div class="panel-body" style="padding: 2px;">
			<div class="row">
				<div class="col-md-offset-1 col-md-1" style="padding-left: 1px; padding-right: 1px;">
					<button type="button" ng-disabled="true" style="width: 100%;" class="btn btn-primary"><i class="fa fa-file-alt fa-2x"></i><br>Novo</button>
				</div>

				<div class="col-md-1" style="padding-left: 1px; padding-right: 1px;">
					<button type="submit" ng-disabled="formulario.$invalid" ng-click="vm.salvar(formulario)" style="width: 100%;" class="btn btn-primary"><i class="fa fa-save fa-2x"></i><br>Salvar</button>
				</div>

				<div class="col-md-1" style="padding-left: 1px; padding-right: 1px;">
					<button type="button" ng-disabled="true" ng-click="vm.remover(formulario)" style="width: 100%;" class="btn btn-primary"><i class="fa fa-trash fa-2x"></i><br>Excluir</button>
				</div>

				<div class="col-md-1" style="padding-left: 1px; padding-right: 1px;">
					<button type="button" ng-disabled="true" style="width: 100%;" class="btn btn-primary"><i class="fa fa-quidditch fa-2x"></i><br>Limpar</button>
				</div>

				<div class="col-md-1" style="padding-left: 1px; padding-right: 1px;">
					<button ng-disabled="true" type="button" style="width: 100%;" class="btn btn-primary"><i class="fa fa-angle-double-left fa-2x"></i><br>Primeiro</button>
				</div>

				<div class="col-md-1" style="padding-left: 1px; padding-right: 1px;">
					<button type="button" ng-disabled="true" ng-click="vm.anterior()" style="width: 100%;" class="btn btn-primary"><i class="fa fa-angle-left fa-2x"></i><br>Voltar</button>
				</div>

				<div class="col-md-1" style="padding-left: 1px; padding-right: 1px;">
					<button type="button" ng-disabled="true" ng-click="vm.proximo()" style="width: 100%;" class="btn btn-primary"><i class="fa fa-angle-right fa-2x"></i><br>Avançar</button>
				</div>

				<div class="col-md-1" style="padding-left: 1px; padding-right: 1px;">
					<button ng-disabled="true" type="button" style="width: 100%;" class="btn btn-primary"><i class="fa fa-angle-double-right fa-2x"></i><br>Último</button>
				</div>

				<div class="col-md-1" style="padding-left: 1px; padding-right: 1px;">
					<button type="button" ng-disabled="true" style="width: 100%;" class="btn btn-primary"><i class="fa fa-print fa-2x"></i><br>Imprimir</button>
				</div>

				<div class="col-md-1" style="padding-left: 1px; padding-right: 1px;">
					<button type="button" ng-click="vm.voltar()" style="width: 100%;" class="btn btn-primary"><i class="fa fa-sign-out-alt fa-2x"></i><br>Sair</button>
				</div>
			</div>

			<div class="row" style="margin-top: 20px;">
				<div class="col-md-12">
					<form novalidate>
						<div class="row">
							<div class="col-md-offset-1 col-md-5">
								<div class="form-group">
									<label for="razaoSocial">Razão Social*:</label>
									<input name="razaoSocial" type="text" class="form-control input-sm" ng-model="vm.model.razaoSocial" required>
								</div>
							</div>
								
							<div class="col-md-5">
								<div class="form-group">
									<label for="nomeFantasia">Nome Fantasia*:</label>
									<input name="nomeFantasia" type="text" class="form-control input-sm" ng-model="vm.model.nomeFantasia" required>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-offset-1 col-md-9">
								<div class="form-group">
									<label for="endereco">Endereco:</label>
									<input name="endereco" type="text" class="form-control input-sm" ng-model="vm.model.endereco" >
								</div>
							</div>

							<div class="col-md-1">
								<div class="form-group">
									<label for="numero">Número:</label>
									<input name="numero" type="text" class="form-control input-sm" ng-model="vm.model.numero" >
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-offset-1 col-md-4">
								<div class="form-group">
									<label for="complemento">Complemento:</label>
									<input name="complemento" type="text" class="form-control input-sm" ng-model="vm.model.complemento" >
								</div>
							</div>

							<div class="col-md-3">
								<div class="form-group">
									<label for="cidade">Cidade:</label>
									<select class="form-control input-sm" id="cidade" name="cidade" ng-options="cidade.id as cidade.descricao for cidade in vm.cidadeList" ng-model="vm.model.cidade" ng-change="vm.carregarSiglaEstadoPorCidade(vm.model.cidade)">
										<option value="">Selecione</option>
									</select>
								</div>
							</div>

							<div class="col-md-1">
								<div class="form-group">
									<label for="estado">Estado:</label>
									<input name="estado" type="text" class="form-control input-sm" ng-model="vm.estado" ng-disabled="true" >
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label for="cep">CEP:</label>
									<input name="cep" type="text" class="form-control input-sm" ng-model="vm.model.cep" ui-br-cep-mask>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-offset-1 col-md-2">
								<div class="form-group">
									<label for="cnpj">CNPJ:</label>
									<input class="form-control input-sm" type="text" name="cnpj" id="cnpj" ng-model="vm.model.cnpj" ui-br-cnpj-mask>
								</div>
							</div>

							<div class="col-md-2">
								<div class="form-group">
									<label for="inscricaoEstadual">Inscrição Estadual:</label>
									<input type="text" class="form-control input-sm" name="inscricaoEstadual" ng-model="inscricaoEstadual" ui-br-ie-mask="'RS'" >
								</div>
							</div>

							<div class="col-md-2">
								<div class="form-group">
									<label for="celular">Telefone:</label>
									<input name="celular" type="text" class="form-control input-sm" ng-model="vm.model.celular" >
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group">
									<label for="email">E-mail:</label>
									<input name="email" type="text" class="form-control input-sm" ng-model="vm.model.email" >
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-offset-1 col-md-1">
								<div class="form-group">
									<label for="baseIcms">ICMS:</label>
									<input name="baseIcms" type="text" class="form-control input-sm" ng-model="vm.model.baseIcms" >
								</div>
							</div>

							<div class="col-md-1">
								<div class="form-group">
									<label for="baseIcmsSt">ICMS ST:</label>
									<input name="baseIcmsSt" type="text" class="form-control input-sm" ng-model="vm.model.baseIcmsSt" >
								</div>
							</div>

							<div class="col-md-2">
								<div class="form-group">
									<label for="aliquotaCredito">Aliquota de Crédito:</label>
									<input name="aliquotaCredito" type="text" class="form-control input-sm" ng-model="vm.model.aliquotaCredito" >
								</div>
							</div>

							<div class="col-md-2">
								<div class="form-group">
									<label for="ctr">C.R.T:</label>
									<select class="form-control input-sm" id="crt" name="crt" ng-options="crt.id as crt.descricao for crt in vm.crtList" ng-model="vm.model.crt" >
										<option value="">Selecione</option>
									</select>
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group">
									<label for="contador">Escritório:</label>
									<select class="form-control input-sm" id="contador" name="contador" ng-options="contador.id as contador.descricao for contador in vm.escritorioList" ng-model="vm.model.escritorio" >
										<option value="">Selecione</option>
									</select>
								</div>
							</div>							
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</form>