<style type="text/css">
input {
	border: 1px solid #888 !important;
}
</style>

<form novalidate name="formulario" autocomplete="off">
	<div class="panel panel-primary">
		<div class="panel-heading">Cadastro de Grupo de Produtos</div>
		<div class="panel-body" style="padding: 2px;">
			<div class="row">
				<div class="col-md-offset-1 col-md-1" style="padding-left: 1px; padding-right: 1px;">
					<button type="button" ng-click="vm.novo(formulario)" style="width: 100%;" class="btn btn-primary"><i class="fa fa-file-alt fa-2x"></i><br>Novo</button>
				</div>

				<div class="col-md-1" style="padding-left: 1px; padding-right: 1px;">
					<button type="submit" ng-disabled="formulario.$invalid" ng-click="vm.salvar(formulario)" style="width: 100%;" class="btn btn-primary"><i class="fa fa-save fa-2x"></i><br>Salvar</button>
				</div>

				<div class="col-md-1" style="padding-left: 1px; padding-right: 1px;">
					<button type="button" ng-disabled="!vm.model.id" ng-click="vm.remover(formulario)" style="width: 100%;" class="btn btn-primary"><i class="fa fa-trash fa-2x"></i><br>Excluir</button>
				</div>

				<div class="col-md-1" style="padding-left: 1px; padding-right: 1px;">
					<button type="button" ng-click="vm.novo(formulario)" style="width: 100%;" class="btn btn-primary"><i class="fa fa-quidditch fa-2x"></i><br>Limpar</button>
				</div>

				<div class="col-md-1" style="padding-left: 1px; padding-right: 1px;">
					<button ng-click="vm.primeiro()" type="button" style="width: 100%;" class="btn btn-primary"><i class="fa fa-angle-double-left fa-2x"></i><br>Primeiro</button>
				</div>

				<div class="col-md-1" style="padding-left: 1px; padding-right: 1px;">
					<button type="button" ng-disabled="!vm.model.id" ng-click="vm.anterior()" style="width: 100%;" class="btn btn-primary"><i class="fa fa-angle-left fa-2x"></i><br>Voltar</button>
				</div>

				<div class="col-md-1" style="padding-left: 1px; padding-right: 1px;">
					<button type="button" ng-disabled="!vm.model.id" ng-click="vm.proximo()" style="width: 100%;" class="btn btn-primary"><i class="fa fa-angle-right fa-2x"></i><br>Avançar</button>
				</div>

				<div class="col-md-1" style="padding-left: 1px; padding-right: 1px;">
					<button ng-click="vm.ultimo()" type="button" style="width: 100%;" class="btn btn-primary"><i class="fa fa-angle-double-right fa-2x"></i><br>Último</button>
				</div>

				<div class="col-md-1" style="padding-left: 1px; padding-right: 1px;">
					<button type="button" ng-disabled="true" style="width: 100%;" class="btn btn-primary"><i class="fa fa-print fa-2x"></i><br>Imprimir</button>
				</div>

				<div class="col-md-1" style="padding-left: 1px; padding-right: 1px;">
					<button type="button" ng-click="vm.voltar()" style="width: 100%;" class="btn btn-primary"><i class="fa fa-sign-out-alt fa-2x"></i><br>Sair</button>
				</div>
			</div>

			<div class="row" style="margin-top: 20px;">
				<div class="col-md-12">
					<form novalidate>
						<div class="row">
							<div class="col-md-offset-1 col-md-3">
								<div class="form-group">
									<label for="projeto">Código:</label>
									<input type="text" name="codigo" class="form-control input-sm" ng-model="vm.model.id" ng-disabled="true">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-offset-1 col-md-3">
								<div class="form-group has-feedback">
									<label for="projeto">Descrição:</label>
									<input 
									type="text" 
									ng-model="vm.auxiliar" 
									uib-typeahead="objeto as objeto.descricao for objeto in vm.produtoGrupoList | filter:{descricao:$viewValue}" 
									class="form-control" 
									typeahead-show-hint="true" 
									typeahead-min-length="0" 
									ng-keyup="vm.autocomplete(vm.auxiliar)"
									typeahead-on-select="vm.encontrouObjeto($item, $model, $label, $event)"
									required 
									name="descricao" >
									<span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
									<span ng-show="formulario.descricao.$dirty && formulario.descricao.$invalid" class="help-block">O valor é obrigatório.</span>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-offset-1 col-md-3">
								<div class="form-group">
									<label for="projeto">% de Lucro:</label>
									<input name="percentualLucro" type="number" name="codigo" class="form-control input-sm" ng-model="vm.model.percentualLucro" required>
									<span ng-show="formulario.percentualLucro.$dirty && formulario.percentualLucro.$error.required" class="help-block">O valor é obrigatório.</span>
									<span ng-show="formulario.percentualLucro.$dirty && formulario.percentualLucro.$error.number" class="help-block">O valor deve ser númerico.</span>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</form>